.mp-div{
    height:100%;
    width:100%;
    background-image: url("joshua-sortino-228788-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
    flex-direction:row;
    justify-content: start;
    
}

.mp-text-div{
    width:50%;
    height:40%; 
    text-align: center;
    margin-left:5%;
    
}

.mp-txt{
    padding-left:10%;
    width:50px;
    color:#233237;
    font-size:38px;
    
}

.mp-info-div{
    
    height:30%;
    width:40%;
    text-align:center;
    padding-top:20%;
}
.mp-info-text{
    color:#233237;
    font-size:30px;
    padding:2% auto;
    
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .mp-div{
        height:100%;
        width:100vw;
        background-color:lightblue;
        background-image: none;
        display:flex;
        flex-direction:column;
        
        
    }
    
    .mp-text-div{
        margin:0 auto;
        width:80%;
        height:30%; 
        text-align: center;
         
    }
    
    
    .mp-info-div{
        margin:0 auto;
        height:50%;
        width:80%;
        text-align:center;
    }
    
   } 