.nav-div{
  height:100%;
  width:10%;
  background-color:#181818;
  
}
.mobile-nav-div{
  display:none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
  }
 
  li,.nav-link, a {
    display: block;
    color: #3F3F41;
    text-align: center;
    text-decoration: none;
    margin:10% 2%;
  }
  
  li a:hover {
    color: white;
  }


  @media screen and (min-width: 320px) and (max-width: 768px) {
   .nav-div{
     display:none;
    }
    .mobile-nav-div{
      display:flex;
      position: absolute;
      top:0;
      left:0;
    }
    .bottom-nav-links,.nav-link,.nav-logo{
      display:none;
    }
    
   } 